@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap');

html * {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

button {
  border: none;
  transition: 0.1s;
}

button:active {
  box-shadow: inset 0.486vw 0.486vw 0.694vw rgba(0,0,0,0.2);
  filter: drop-shadow(-0.486vw -0.486vw 0.694vw rgba(255,255,255,0)) drop-shadow(0.486vw 0.486vw 0.694vw rgba(0,0,0,0));
}

.active {
  box-shadow: inset 0.486vw 0.486vw 0.694vw rgba(0,0,0,0.2);
  filter: drop-shadow(-0.486vw -0.486vw 0.694vw rgba(255,255,255,0)) drop-shadow(0.486vw 0.486vw 0.694vw rgba(0,0,0,0));
}

body {
  display: grid;
  grid-template-columns: 1fr 24.306vw;

  /* background: rgb(238,245,253); */
  background: linear-gradient(135deg, rgba(238,245,253,1) 0%, rgba(227,237,247,1) 50%, rgba(210,224,238,1) 100%);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
  grid-column: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 1.389vw;
}

aside {
  width: 100%;
  height: 100%;
  grid-column: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.icons{
  width: 100%;
  height: 17vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icons button {
  width: 6.944vw;
  height: 6.944vw;

  background-repeat: no-repeat;
  background-size: 5vw;
  background-position: center;
}

.icons button:nth-child(1) {
  background-image: url(./assets/add.png);
}

.icons button:nth-child(2) {
  background-image: url(./assets/remove.png);
  background-size: 4vw;
}

.icons button:nth-child(3) {
  background-image: url(./assets/select.png);
  background-size: 7vw;
}

.icons button:nth-child(4) {
  background-image: url(./assets/previous.png);
}

.icons button:nth-child(5) {
  background-image: url(./assets/next.png);
}

.avaluation {
  display: flex;
  align-items: center;
}

.avaluation > input {
  height: 6.944vw;
}

.avaluation > .card {
  width: 6.944vw;
  height: 6.944vw;

  background-repeat: no-repeat;
  background-size: 5vw;
  background-position: center;
  background-image: url(./assets/update.png);
}

aside > .card {
  width: 100%;
  height: 4vw;
  font-size: 1.5vw;
}

.card {
  /* width: 500px;
  height: 500px; */
  background-color: #E3EDF7;
  
  /* box-shadow: -7px -7px 25px 0px rgba(255,255,255,0.8);
  box-shadow: 7px 7px 20px 0px rgba(0,0,0,0.2); */

  border-radius: 1.042vw;

  filter: drop-shadow(-0.486vw -0.486vw 0.694vw rgba(255,255,255,0.8)) drop-shadow(0.486vw 0.486vw 0.694vw rgba(0,0,0,0.2));
}

.negative-card {
  font-size: 1.5vw;
  background-color: #E3EDF7;
  border-radius: 1.042vw;
  /* filter: drop-shadow(-0.486vw -0.486vw 0.694vw rgba(255,255,255,0.8)) drop-shadow(0.486vw 0.486vw 0.694vw rgba(0,0,0,0.2)); */
  box-shadow: inset 0.486vw 0.486vw 0.694vw rgba(0,0,0,0.2);
  border: none;
  outline: none;
}